.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.menuIcon{
    margin-top: 5px;
    height : 1px;
    width : 30px;
    border: 1px solid black;
    background-color: black;
}
.dropdownArrow{
    width:20%
}

.buttonStyle{
    height: 70%;
    color: aliceblue;
    background-color: green;
    margin-left: 72%;
}


.paraStyle{
margin-left: 2%;
}

.paraTwoStyle{
font-size: 110%;
}

.headerDiv{
   margin-top: 2%;
}
.headerDiv >div{
    border: 1px solid black;
    border-radius: 5px;
    width: 32%;
    height: 140px;
}

.bodyDivOne{
  width: 70%;
  height: 500px;
    margin-top: 1%;
    border: 1px solid black;
}

.bodyDivChildOne{
    margin-top: 4%;
    padding: 6%;
    height: 60%;
    border: 1px solid black;
}

.bodyDivChildTwo{
    margin-top: 4%;
    padding: 6%;
    height: 40%;
    border: 1px solid black;
}

.secondBodyDiv{
    width: 27%;
}

.firstRow{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.circle {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    margin-top: 10%;
  }

  .onClass{
    margin-right: 35%;
    font-weight: bold;
    font-size: 130%;
  }
  .bold{
      font-weight: bold;
  }

  .margin{
      margin-top: 9%;
  }

  .marginLeft{
      margin-right: 50%;
      margin-top: 3%;
  }
  .grayColor{
      color: grey;
  }

  .percentClass{
    margin-left: 2%;
    margin-top: 11%;
    font-weight: bold;
    font-size: 140%;
  }

.percentClassTwo{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 13%;
    font-weight: bold;
    font-size: 70%;
}  

.line{
    border-top: 4px solid #e6e6e6;
    width: 98%;
    margin-left: 1.5%;
    border-radius: 10px;
}

.performance{
    font-weight: bold;
    font-size: 110%;
}

.performanceDiv{
    margin-top: 9%;
    width: 50%;
    margin-left: 2%;
}

.bodyUl{
list-style-type: none;
margin: 0;
padding: 0;
}

.bodyDiv > div{
    float: left;
}

.bodyDiv > div > a{
color: black;
padding: 14px 16px;
text-decoration: none;
}

.bodyDiv > div > a:hover{
background-color: green;
}

.liStyle{
list-style-type: none;
}

.systemStyle{
    color: black;
    text-decoration: none;
}

.underline{
    border-bottom: 1px solid gray;
}

.secondUl{
    margin: 18% 39% 0% 0%;
}

.paraRight{
    margin-right: 42%;
}

.divBorder{
    border-bottom: 0.5px solid;
}

  
  
  
  
  
  
  
  


